# Hoja de Trabajo 6
## Regresión Logística
---
**Integrantes**
- Maria Marta Ramirez Gil
- Gustavo Andres Gonzalez Pineda 
- Diego Alberto Leiva Pérez 
- José Pablo Orellana Orellana 
- Gabriel Estuardo García Donis 
---

## Análisis Exploratorio

### Comprensión Inicial

**Importar Librerias**

In [1]:
# Manipulacion de datos
import pandas as pd
import numpy as np

# Librerias para graficar
import matplotlib.pyplot as plt
import seaborn as sns

**Cargar el Dataset**

In [2]:
data = pd.read_csv("weatherAUS.csv")

**Información general del dataset**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

**Estructura del dataset**

In [4]:
print(f"El dataset contiente: {data.shape[0]} observaciones y {data.shape[1]} variables")

El dataset contiente: 145460 observaciones y 23 variables

In [5]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

#### Identificación de Variables

**Variables categóricas**

In [6]:
# Encontrar variables categoricas
categorical = data.select_dtypes(include=['object']).columns.tolist()

print(f"Hay {len(categorical)} variables categoricas en el dataset:")
for column in categorical:
    print(f"- {column}")


# Contar las variables categoricas binarias
binary_categorical = [col for col in categorical if data[col].nunique() == 2]

print(f"\nHay {len(binary_categorical)} variables categoricas binarias en el dataset:")
for column in binary_categorical:
    print(f"- {column}")

Hay 7 variables categoricas en el dataset:
- Date
- Location
- WindGustDir
- WindDir9am
- WindDir3pm
- RainToday
- RainTomorrow

Hay 2 variables categoricas binarias en el dataset:
- RainToday
- RainTomorrow

**Frecuencia de valores categóricos**

In [7]:
for column in categorical:
    print(data[column].value_counts())
    print('\n', '-'*35, '\n')

Date
2013-11-12    49
2014-09-01    49
2014-08-23    49
2014-08-24    49
2014-08-25    49
              ..
2007-11-29     1
2007-11-28     1
2007-11-27     1
2007-11-26     1
2008-01-31     1
Name: count, Length: 3436, dtype: int64

 -----------------------------------

Location
Canberra            3436
Sydney              3344
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Perth               3193
Hobart              3193
Albany              3040
MountGambier        3040
Ballarat            3040
Townsville          3040
GoldCoast           3040
Cairns              3040
Launceston          3040
AliceSprings        3040
Bendigo             3040
Albury              3040
MountGinini         3040
Wollongong          3040
Newcastle           3039
Tuggeranong         3039
Penrith             3039
Woomera             3009
Nuriootpa           3009
Cobar               3009
CoffsHarbour        3009
Moree               3009
Sale                3009
PerthAirport        3009
PearceRAAF          3009
Witchcliffe         3009
BadgerysCreek       3009
Mildura             3009
NorfolkIsland       3009
MelbourneAirport    3009
Richmond            3009
SydneyAirport       3009
WaggaWagga          3009
Williamtown         3009
Dartmoor            3009
Watsonia            3009
Portland            3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Katherine           1578
Nhil                1578
Uluru               1578
Name: count, dtype: int64

 -----------------------------------

WindGustDir
W      9915
SE     9418
N      9313
SSE    9216
E      9181
S      9168
WSW    9069
SW     8967
SSW    8736
WNW    8252
NW     8122
ENE    8104
ESE    7372
NE     7133
NNW    6620
NNE    6548
Name: count, dtype: int64

 -----------------------------------

WindDir9am
N      11758
SE      9287
E       9176
SSE     9112
NW      8749
S       8659
W       8459
SW      8423
NNE     8129
NNW     7980
ENE     7836
NE      7671
ESE     7630
SSW     7587
WNW     7414
WSW     7024
Name: count, dtype: int64

 -----------------------------------

WindDir3pm
SE     10838
W      10110
S       9926
WSW     9518
SSE     9399
SW      9354
N       8890
WNW     8874
NW      8610
ESE     8505
E       8472
NE      8263
SSW     8156
NNW     7870
ENE     7857
NNE     6590
Name: count, dtype: int64

 -----------------------------------

RainToday
No     110319
Yes     31880
Name: count, dtype: int64

 -----------------------------------

RainTomorrow
No     110316
Yes     31877
Name: count, dtype: int64

 -----------------------------------

**Variables numéricas**

In [8]:
# Encontrar variables numericas
numerical = data.select_dtypes(exclude=['object']).columns.tolist()

print(f"Hay {len(categorical)} variables numericas en el dataset:")
for column in numerical:
    print(f"- {column}")

Hay 7 variables numericas en el dataset:
- MinTemp
- MaxTemp
- Rainfall
- Evaporation
- Sunshine
- WindGustSpeed
- WindSpeed9am
- WindSpeed3pm
- Humidity9am
- Humidity3pm
- Pressure9am
- Pressure3pm
- Cloud9am
- Cloud3pm
- Temp9am
- Temp3pm

**Variables identificadas**

- `Date`: Fecha de la observación.
- `Location`: Ubicación geográfica.
- `MinTemp`: Temperatura mínima del día en grados Celsius.
- `MaxTemp`: Temperatura máxima del día en grados Celsius.
- `Rainfall`: Cantidad de precipitación registrada en el día en milímetros.
- `Evaporation`: Tasa de evaporación del día en milímetros.
- `Sunshine`: Número de horas de sol durante el día.
- `WindGustDir`: Dirección de la ráfaga de viento más fuerte en 16 puntos cardinales.
- `WindGustSpeed`: Velocidad de la ráfaga de viento más fuerte en kilómetros por hora.
- `WindDir9am`: Dirección del viento a las 9 am en puntos cardinales.
- `WindDir3pm`: Dirección del viento a las 3 pm en puntos cardinales.
- `WindSpeed9am`: Velocidad del viento a las 9 am en kilómetros por hora.
- `WindSpeed3pm`: Velocidad del viento a las 3 pm en kilómetros por hora.
- `Humidity9am`: Humedad a las 9 am en porcentaje.
- `Humidity3pm`: Humedad a las 3 pm en porcentaje.
- `Pressure9am`: Presión atmosférica a las 9 am en hectopascales.
- `Pressure3pm`: Presión atmosférica a las 3 pm en hectopascales.
- `Cloud9am`: Porcentaje de cobertura nubosa a las 9 am en octavos.
- `Cloud3pm`: Porcentaje de cobertura nubosa a las 3 pm en octavos.
- `Temp9am`: Temperatura a las 9 am en grados Celsius.
- `Temp3pm`: Temperatura a las 3 pm en grados Celsius.
- `RainToday`: Indicador si llovió o no (Sí/No).
- `RainTomorrow`: Indicador si lloverá al día siguiente (Sí/No).

Nota: Un hectopascal es la unidad de presión del sistema internacional, equivalente a 100 pascales, utilizada en meteorología para expresar la presión atmosférica. (RAE, 2024)

RAE (2024). hectopascal | Diccionario de la lengua española. «Diccionario de la Lengua Española» - Edición del Tricentenario. https://dle.rae.es/hectopascal

**Renombrar columnas al español**

In [9]:
# Se cambian los nombres de las variables a español para facilitar su comprensión
new_column_names = {
    'Date': 'fecha',
    'Location': 'ubicacion',
    'MinTemp': 'temp_min',
    'MaxTemp': 'temp_max',
    'Rainfall': 'precipitacion',
    'Evaporation': 'evaporacion',
    'Sunshine': 'horas_sol',
    'WindGustDir': 'dir_rafaga_viento',
    'WindGustSpeed': 'vel_rafaga_viento',
    'WindDir9am': 'dir_viento_9am',
    'WindDir3pm': 'dir_viento_3pm',
    'WindSpeed9am': 'vel_viento_9am',
    'WindSpeed3pm': 'vel_viento_3pm',
    'Humidity9am': 'humedad_9am',
    'Humidity3pm': 'humedad_3pm',
    'Pressure9am': 'presion_9am',
    'Pressure3pm': 'presion_3pm',
    'Cloud9am': 'nubosidad_9am',
    'Cloud3pm': 'nubosidad_3pm',
    'Temp9am': 'temp_9am',
    'Temp3pm': 'temp_3pm',
    'RainToday': 'lluvia_hoy',
    'RainTomorrow': 'lluvia_manana'
}

data.rename(columns=new_column_names, inplace=True)

**Manejo de variables temporales**

In [10]:
# Convertir la columna 'fecha' a tipo datetime
data['fecha'] = pd.to_datetime(data['fecha'])

# Verificar que se hayan realizado los cambios
data.head()

,fecha,ubicacion,temp_min,temp_max,precipitacion,evaporacion,horas_sol,dir_rafaga_viento,vel_rafaga_viento,dir_viento_9am,...,humedad_9am,humedad_3pm,presion_9am,presion_3pm,nubosidad_9am,nubosidad_3pm,temp_9am,temp_3pm,lluvia_hoy,lluvia_manana
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No